@model PagedList.IPagedList<Footprints.Models.Destination>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Destination Management";
}

@Styles.Render("~/css/admin")
@Scripts.Render("~/scripts/adminmodal")

<script>
    $(document).ready(function () {
        var url = "";
        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }

        $("#dialog-edit").dialog({
            title: 'Create User',
            autoOpen: false,
            resizable: true,
            width: 650,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkEdit").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Update Destination");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete Destination");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        //Lay checkbox co ID=checkAll
        var $checkBox = $("input:checkbox[id$=chkAll]");
        //Lay mang cac checkbox co name =cid
        var $tblChkBox = $("input:checkbox[name$=Id]");
        //Them su kien click cho chkAll
        $checkBox.click(function () {
            $tblChkBox
                    .attr('checked', $checkBox
                    .is(':checked'));
        }
        );

        //Them su kien cho cac checkbox co name la =cid
        //Khi bo check thi chkAll cung tro ve trang thai Uncheck
        $tblChkBox.click(
            function (e) {
                if (!$(this)[0].checked) {
                    $checkBox.attr("checked", false);
                }
            }
        );

    });

</script>

<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete destination?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-detail" style="display: none">
</div>

<!-- <div class="layout-app">  -->
<div class="innerLR" style="padding-top:90px;padding-left:30px;">

    <h3 class="margin-none pull-left">Destination Management</h3>
    <div class="btn-group btn-group-sm pull-right">
        <a href="" class="btn btn-primary">Add Destination</a>
    </div>
    <div class="clearfix"></div>
    <div class="separator-h"></div>
    <!-- Widget -->
    <div class="widget widget-body-white">

        <!-- Widget heading -->
        <div class="widget-head">
            <h4 class="heading glyphicons calendar"><i></i>@DateTime.Now</h4>
        </div>
        <!-- // Widget heading END -->

        <div class="widget-body">

            <!-- Total destination & sort by options -->
            <div class="separator bottom">
                Total destination:
                @*<span class="pull-right">
                    <label class="strong">Sort by:</label>
                    <select class="selectpicker margin-none" data-style="btn-default btn-xs">
                        <option>Option</option>
                        <option>Option</option>
                        <option>Option</option>
                    </select>
                </span>*@
                <div class="clearfix"></div>
            </div>
            <!-- // Total destination & sort by options END -->
            <!-- Table -->
            <table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
                <thead>
                    <tr>
                        <th style="width: 1%;" class="uniformjs"><input type="checkbox" id="chkAll" /></th>
                        <th style="width: 10%;" class="center">Name</th>
                        <th class="center">Order Number</th>
                        <th style="width: 25%;" class="center">Description</th>
                        <th class="center">Taken Date</th>
                        <th class="center">Time Stamp</th>
                        <th class="center">Number Of Like</th>
                        <th class="center">Number Of Share</th>
                        <th style="width: 10%;" class="center">Place</th>
                        <th class="center" style="width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    @foreach (var destination in @Model)
                    {
                        <tr class="selectable">
                            <td class="center uniformjs"><input type="checkbox" name="Id" value="@destination.DestinationID" /></td>
                            <td class="center">@destination.Name</td>
                            <td class="center">@destination.OrderNumber</td>
                            <td class="center">@destination.Description</td>
                            <td class="center">@destination.TakenDate</td>
                            <td class="center">@destination.Timestamp</td>
                            <td class="center">@destination.NumberOfLike</td>
                            <td class="center">@destination.NumberOfShare</td>
                            <td class="center">@destination.Place.Name</td>
                            <td class="center">
                                <div class="btn-group btn-group-sm">
                                    <a href='@Url.Action("EditDestination", "Admin", new { DestinationID = destination.DestinationID })' class="lnkEdit"><input type="button" value="Edit" class="btn btn-success" /> </a>
                                    <a href='@Url.Action("DeleteDestination", "Admin", new { DestinationID = destination.DestinationID })' class="lnkDelete"><input type="button" value="Del" class="btn btn-danger" /> </a>
                                </div>
                            </td>
                        </tr>
                    }
                    <!-- // Item END -->

                </tbody>
            </table>
            <!-- // Table END -->
            <!-- With selected actions -->
            <div class="pull-left checkboxs_actions hide-2">
                <label class="strong">
                    With selected:
                    <select class="selectpicker margin-none" data-style="btn-default btn-small">
                        <option>Delete</option>
                        <option>Action</option>
                        <option>Action</option>
                    </select>
                </label>
            </div>
            <!-- // With selected actions END -->
            <!-- Pagination -->
            <ul class="pagination pull-right margin-none">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Destination", new { page }))
            </ul>
            <div class="clearfix"></div>
            <!-- // Pagination END -->

        </div>
    </div>
    <!-- // Widget -->    
</div>