@model PagedList.IPagedList<Footprints.Models.Destination>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Destination Management";
}


@Styles.Render("~/css/admin");

<!-- <div class="layout-app">  -->
<div class="innerLR" style="padding-top:70px;padding-left:30px;">

    <h3 class="margin-none pull-left">Destination Management</h3>
    <div class="btn-group btn-group-sm pull-right">
        <a href="" class="btn btn-primary">Add Destination</a>
    </div>
    <div class="clearfix"></div>
    <div class="separator-h"></div>

    @*<!-- Filters -->
    <div class="filter-bar">
        <form class="margin-none form-inline">

            <!-- From -->
            <div class="form-group col-md-2 padding-none">
                <label>From:</label>
                <div class="input-group">
                    <input type="text" name="from" id="dateRangeFrom" class="form-control" value="08/05/13" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <!-- // From END -->
            <!-- To -->
            <div class="form-group col-md-2 padding-none">
                <label>To:</label>
                <div class="input-group">
                    <input type="text" name="to" id="dateRangeTo" class="form-control" value="08/18/13" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <!-- // To END -->

            <!-- Select -->
            <div class="form-group col-md-3 padding-none">
                <label class="label-control">Select:</label>
                <div class="col-md-8 padding-none">
                    <select name="from" class="form-control">
                        <option>Some option</option>
                        <option>Other option</option>
                        <option>Some other option</option>
                    </select>
                </div>
            </div>
            <!-- // Select END -->

            <div class="clearfix"></div>
        </form>
    </div>
    <!-- // Filters END -->*@
    <!-- Widget -->
    <div class="widget widget-body-white">

        <!-- Widget heading -->
        <div class="widget-head">
            <h4 class="heading glyphicons calendar"><i></i>@DateTime.Now</h4>
        </div>
        <!-- // Widget heading END -->

        <div class="widget-body">

            <!-- Total destination & sort by options -->
            <div class="separator bottom">
                Total destination:
                @*<span class="pull-right">
                    <label class="strong">Sort by:</label>
                    <select class="selectpicker margin-none" data-style="btn-default btn-xs">
                        <option>Option</option>
                        <option>Option</option>
                        <option>Option</option>
                    </select>
                </span>*@
                <div class="clearfix"></div>
            </div>
            <!-- // Total destination & sort by options END -->
            <!-- Table -->
            <table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
                <thead>
                    <tr>
                        <th style="width: 1%;" class="uniformjs"><input type="checkbox" /></th>
                        <th class="center">Name</th>
                        <th class="center">Order Number</th>
                        <th class="center">Description</th>
                        <th class="center">Taken Date</th>
                        <th class="center">Time Stamp</th>
                        <th class="center">Number Of Like</th>
                        <th class="center">Number Of Share</th>
                        <th class="center">Place</th>
                        <th class="center" style="width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    @foreach (var destination in @Model)
                    {
                        <tr class="selectable">
                            <td class="center uniformjs"><input type="checkbox" /></td>
                            <td class="center">@destination.Name</td>
                            <td class="center">@destination.OrderNumber</td>
                            <td class="center">@destination.Description</td>
                            <td class="center">@destination.TakenDate</td>
                            <td class="center">@destination.Timestamp</td>
                            <td class="center">@destination.NumberOfLike</td>
                            <td class="center">@destination.NumberOfShare</td>
                            <td class="center">@destination.Place.Name</td>
                            <td class="center">
                                <div class="btn-group btn-group-sm">
                                    @*<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a>*@
                                    @Html.ActionLink("Edit", "EditDestination", "Admin", new { DestinationID = destination.DestinationID }, new { @class = "btn btn-success" })
                                    @Html.ActionLink("Del", "DeleteDestination", "Admin", new { DestinationID = destination.DestinationID }, new { @class = "btn btn-danger" })
                                </div>
                            </td>
                        </tr>
                    }
                    <!-- // Item END -->

                </tbody>
            </table>
            <!-- // Table END -->
            <!-- With selected actions -->
            <div class="pull-left checkboxs_actions hide-2">
                <label class="strong">
                    With selected:
                    <select class="selectpicker margin-none" data-style="btn-default btn-small">
                        <option>Delete</option>
                        <option>Action</option>
                        <option>Action</option>
                    </select>
                </label>
            </div>
            <!-- // With selected actions END -->
            <!-- Pagination -->
            <ul class="pagination pull-right margin-none">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Destination", new { page }))
            </ul>
            <div class="clearfix"></div>
            <!-- // Pagination END -->

        </div>
    </div>
    <!-- // Widget -->
    @Scripts.Render("~/script/core")
</div>