
@model Footprints.Models.Journey
@{
    ViewBag.Title = "EditJourney";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Edit Journey</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4 style="padding-left:30px;">Journey</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.JourneyID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.Destinations)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TakenDate, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.TakenDate)
                @Html.ValidationMessageFor(model => model.TakenDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Timestamp, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Timestamp)
                @Html.ValidationMessageFor(model => model.Timestamp)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfLike, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NumberOfLike)
                @Html.ValidationMessageFor(model => model.NumberOfLike)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfShare, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NumberOfShare)
                @Html.ValidationMessageFor(model => model.NumberOfShare)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div style="padding-left:30px;">
    @Html.ActionLink("Back to List", "Journey")
</div>


