@model Footprints.Models.Destination
@{
    ViewBag.Title = "EditDestination";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4 style="padding-left:30px;padding-top:70px;">Destination</h4>
        <hr />        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DestinationID)
        @Html.HiddenFor(model => model.JourneyID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.AlbumID)        
        @Html.HiddenFor(model => model.Place.PlaceID)
        @Html.HiddenFor(model => model.Place.Reference)
        @Html.HiddenFor(model => model.Contents)
        @Html.HiddenFor(model => model.NumberOfLike)
        @Html.HiddenFor(model => model.NumberOfShare)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.OrderNumber)
                @Html.ValidationMessageFor(model => model.OrderNumber)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TakenDate, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.TakenDate)
                @Html.ValidationMessageFor(model => model.TakenDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Timestamp, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Timestamp)
                @Html.ValidationMessageFor(model => model.Timestamp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Place.Name)
                @Html.ValidationMessageFor(model => model.Place.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Place.Longitude)
                @Html.ValidationMessageFor(model => model.Place.Longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place.Latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Place.Latitude)
                @Html.ValidationMessageFor(model => model.Place.Latitude)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div style="padding-left:30px;">
    @Html.ActionLink("Back to List", "Destination")
</div>