@model PagedList.IPagedList<Footprints.Models.Journey>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Journey Management";
}
@using PagedList.Mvc;

@Styles.Render("~/css/admin");
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!-- <div class="layout-app">  -->
<div class="innerLR" style="padding-top: 70px;">
    <h3 class="margin-none pull-left">Journey Management</h3>
    <div class="btn-group btn-group-sm pull-right">
        <a href="" class="btn btn-primary">Add Journey</a>
    </div>
    <div class="clearfix"></div>
    <div class="separator-h"></div>
    
    <!-- Widget -->
    <div class="widget widget-body-white">

        <!-- Widget heading -->
        <div class="widget-head">
            <h4 class="heading glyphicons calendar"><i></i>@DateTime.Now</h4>
        </div>
        <!-- // Widget heading END -->

        <div class="widget-body">

            <!-- Total journey & sort by options -->
            <div class="separator bottom">
                Total journey:
                <span class="pull-right">
                    <label class="strong">Sort by:</label>
                    <select class="selectpicker margin-none" data-style="btn-default btn-xs">
                        <option>Option</option>
                        <option>Option</option>
                        <option>Option</option>
                    </select>
                </span>
                <div class="clearfix"></div>
            </div>
            <!-- // Total journey & sort by options END -->
            <!-- Table -->
            <table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
                <thead>
                    <tr>
                        <th style="width: 1%;" class="uniformjs"><input type="checkbox" /></th>
                        <th class="center">Name</th>
                        <th class="center">Description</th>
                        <th class="center">Taken Date</th>
                        <th class="center">Time stamp</th>
                        <th class="center">Number Of Like</th>
                        <th class="center">Number Of Share</th>
                        <th class="center" style="width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    @foreach (var journey in @Model)
                    {
                        <tr class="selectable">
                            <td class="center uniformjs"><input type="checkbox" /></td>
                            <td class="center">@journey.Name</td>
                            <td class="center">@journey.Description</td>
                            <td class="center">@journey.TakenDate</td>
                            <td class="center">@journey.Timestamp</td>
                            <td class="center">@journey.NumberOfLike</td>
                            <td class="center">@journey.NumberOfShare</td>
                            <td class="center">
                                <div class="btn-group btn-group-sm">
                                    @*<a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                                        <a href="#" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a>*@
                                    @Html.ActionLink("Edit", "EditJourney", "Admin", new { JourneyID = journey.JourneyID }, new { @class = "btn btn-success" })
                                    <a class="btn btn-danger" data-toggle="modal" href="#delete-journey">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }

                    <!-- // Item END -->

                </tbody>
            </table>
            <!-- // Table END -->
            <!-- With selected actions -->
            <div class="pull-left checkboxs_actions hide-2">
                <label class="strong">
                    With selected:
                    <select class="selectpicker margin-none" data-style="btn-default btn-small">
                        <option>Delete</option>
                        <option>Action</option>
                        <option>Action</option>
                    </select>
                </label>
            </div>
            <!-- // With selected actions END -->
            <!-- Pagination -->
            <ul class="pagination pull-right margin-none">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Journey", new { page }))
            </ul>
            <div class="clearfix"></div>
            <!-- // Pagination END -->

        </div>
    </div>
    <!-- // Widget -->
</div>

<div class="modal fade" id="delete-journey">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal heading -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Delete Journey</h3>
            </div>
            <!-- // Modal heading END -->
            <!-- Modal body -->
            <div class="modal-body">
                <div class="innerAll">
                    <div class="innerLR">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label class="control-label">Are you sure want to delete this journey?</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Modal body END -->
            <div class="modal-footer">
                @Html.ActionLink("Del", "DeleteJourney", "Admin", new { UserID = Model.UserID, JourneyID = Model.JourneyID }, new { @class = "btn btn-danger" })
                <button class="btn btn-primary" type="submit"> Confirm</button>
                <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>