@model PagedList.IPagedList<Footprints.Models.Journey>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Journey Management";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        //Confirm = "Are you sure to start search?",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}
@using PagedList.Mvc;

@Styles.Render("~/css/admin")
@Scripts.Render("~/scripts/adminmodal")

<script>
    $(document).ready(function () {
        var url = "";
        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }

        $("#dialog-edit").dialog({
            title: 'Create User',
            autoOpen: false,
            resizable: true,
            width: 620,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        //$("#dialog-detail").dialog({
        //    title: 'View User',
        //    autoOpen: false,
        //    resizable: false,
        //    width: 400,
        //    show: { effect: 'drop', direction: "up" },
        //    modal: true,
        //    draggable: true,
        //    open: function (event, ui) {
        //        $(".ui-dialog-titlebar-close").hide();
        //        $(this).load(url);
        //    },
        //    buttons: {
        //        "Close": function () {
        //            $(this).dialog("close");
        //        }
        //    }
        //});

        //$("#lnkCreate").live("click", function (e) {
        //    //e.preventDefault(); //use this or return false
        //    url = $(this).attr('href');
        //    $("#dialog-edit").dialog('open');

        //    return false;
        //});


        $(".lnkEdit").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Update Journey");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete Journey");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        //$(".lnkDetail").live("click", function (e) {
        //    // e.preventDefault(); use this or return false
        //    url = $(this).attr('href');
        //    $("#dialog-detail").dialog('open');

        //    return false;
        //});

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        //Lay checkbox co ID=checkAll
        var $checkBox = $("input:checkbox[id$=chkAll]");
        //Lay mang cac checkbox co name =cid
        var $tblChkBox = $("input:checkbox[name$=Id]");
        //Them su kien click cho chkAll
        $checkBox.click(function () {
            $tblChkBox
                    .attr('checked', $checkBox
                    .is(':checked'));
        }
        );

        //Them su kien cho cac checkbox co name la =cid
        //Khi bo check thi chkAll cung tro ve trang thai Uncheck
        $tblChkBox.click(
            function (e) {
                if (!$(this)[0].checked) {
                    $checkBox.attr("checked", false);
                }
            }
        );
            
    });

</script>

<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-detail" style="display: none">
</div>

<!-- <div class="layout-app">  -->
<div class="innerLR" style="padding-top: 90px;padding-left:30px;">
    <div class="row">
        <div class="col-md-8">
            <h3 class="margin-none pull-left">Journey Management</h3>
        </div>
        <div class="col-md-4">
            @using (Ajax.BeginForm("SearchJourney", "Admin", options))
            {
                <div class="col-md-10">
                    <div class="form-group">
                        <div id="divLoading" style="color:red;width:200px;background-color:yellow;font-size:larger;display:none;position:absolute;">Loading ....</div>
                        <input type="text" name="keyword" class="form-control" placeholder="Enter keyword to search journey..." style="background-color:white;" />
                        <button type="submit" class="btn btn-info" style="display:none;"></button>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="separator-h"></div>
    <div class="widget widget-body-white">

        <!-- Widget heading -->
        <div class="widget-head">
            <h4 class="heading glyphicons calendar"><i></i>@DateTime.Now</h4>
        </div>
        <!-- // Widget heading END -->

        <div class="widget-body">

            <!-- Total journey & sort by options -->
            <div class="separator bottom">
                Total journey:
                <span class="pull-right">
                    <label class="strong">Sort by:</label>
                    <select class="selectpicker margin-none" data-style="btn-default btn-xs">
                        <option>Option</option>
                        <option>Option</option>
                        <option>Option</option>
                    </select>
                </span>
                <div class="clearfix"></div>
            </div>
            <!-- // Total journey & sort by options END -->
            <!-- Table -->
            <table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
                <thead>
                    <tr>
                        <th style="width: 1%;" class="uniformjs">
                            <input type="checkbox" id="chkAll" />
                        </th>
                        <th class="center" style="width: 15%;">Name</th>
                        <th class="center" style="width: 30%;">Description</th>
                        <th class="center">Taken Date</th>
                        <th class="center">Time stamp</th>
                        <th class="center" style="width: 5%;">Like Number</th>
                        <th class="center" style="width: 5%;">Share Number</th>
                        <th class="center" style="width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody id="searchResult">
                    <!-- Item -->
                    @foreach (var journey in @Model)
                    {
                        <tr class="selectable">
                            <td class="center uniformjs"><input type="checkbox" value="@journey.JourneyID" name="Id" /></td>
                            <td class="left">@journey.Name</td>
                            <td class="left">@journey.Description</td>
                            <td class="left">@journey.TakenDate</td>
                            <td class="left">@journey.Timestamp</td>
                            <td class="center">@journey.NumberOfLike</td>
                            <td class="center">@journey.NumberOfShare</td>
                            <td class="center">
                                <div class="btn-group btn-group-sm">
                                    <a href='@Url.Action("EditJourney", "Admin", new { JourneyID = journey.JourneyID })' class="lnkEdit"><input type="button" value="Edit" class="btn btn-success" /> </a>
                                    <a href='@Url.Action("DeleteJourney", "Admin", new { UserID = journey.UserID, JourneyID = journey.JourneyID })' class="lnkDelete"><input type="button" value="Del" class="btn btn-danger" /> </a>
                                </div>
                            </td>
                        </tr>
                    }

                    <!-- // Item END -->

                </tbody>
            </table>
            <!-- // Table END -->

            <!-- Delete multile row -->
            <div class="pull-left checkboxs_actions hide-2">
                <label class="strong">
                    With selected:               
                    <a href='@Url.Action("DeleteMultipleJourney", "Admin")' class="lnkDelete"><input type="submit" value="Del" class="btn btn-danger" /> </a>
                </label>

            </div>
            <!-- Delete multile row END -->

            <!-- Pagination -->
            <ul class="pagination pull-right margin-none">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Journey", new { page }))
            </ul>
            <div class="clearfix"></div>
            <!-- // Pagination END -->

        </div>
    </div>
    <!-- // Widget -->
</div>