@model PagedList.IPagedList<Footprints.Models.User>
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        //Confirm = "Are you sure to start search?",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}

@using PagedList.Mvc

@Styles.Render("~/css/admin")
@Scripts.Render("~/scripts/adminmodal")

<script>
    $(document).ready(function () {
        var url = "";
        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }

        $("#dialog-edit").dialog({
            title: 'Create User',
            autoOpen: false,
            resizable: true,
            width: 650,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkEdit").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Update User");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete User");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        //Lay checkbox co ID=checkAll
        var $checkBox = $("input:checkbox[id$=chkAll]");
        //Lay mang cac checkbox co name =cid
        var $tblChkBox = $("input:checkbox[name$=Id]");
        //Them su kien click cho chkAll
        $checkBox.click(function () {
            $tblChkBox
                    .attr('checked', $checkBox
                    .is(':checked'));
        }
        );
        //Them su kien cho cac checkbox co name la =cid
        //Khi bo check thi chkAll cung tro ve trang thai Uncheck
        $tblChkBox.click(
            function (e) {
                if (!$(this)[0].checked) {
                    $checkBox.attr("checked", false);
                }
            }
        );
    });

</script>

<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete user?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-detail" style="display: none">
</div>

<!-- <div class="layout-app">  -->
<div class="innerLR" style="padding-top: 90px;padding-left:30px;">
    <div class="row">
        <div class="col-md-8">
            <h3 class="margin-none pull-left">User Management</h3>
        </div>
        <div class="col-md-4">
            @using (Ajax.BeginForm("SearchUser", "Admin", options))
            {
                @*<div>
                        Search User: <input type="text" name="keyword" class="form-control"/>
                        <input type="submit" value="Search" />
                    </div>*@
                <div class="col-md-10">
                    <div class="form-group">
                        <div id="divLoading" style="color:red;width:200px;background-color:yellow;font-size:larger;display:none;position:absolute;">Loading ....</div>
                        <input type="text" name="keyword" class="form-control" placeholder="Enter keyword to search user..." style="background-color:white;"/>
                        <button type="submit" class="btn btn-info" style="display:none;"></button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="separator-h"></div>

    <!-- Widget -->
    <div class="widget widget-body-white">

        <!-- Widget heading -->
        <div class="widget-head">
            <h4 class="heading glyphicons calendar"><i></i>@DateTime.Now</h4>
        </div>
        <!-- // Widget heading END -->

        <div class="widget-body">

            <!-- Total journey & sort by options -->
            <div class="separator bottom">
                Total user:
                <div class="clearfix"></div>
            </div>
            <!-- // Total journey & sort by options END -->
            <!-- Table -->
            <table class="table table-condensed table-striped table-primary table-vertical-center checkboxs">
                <thead>
                    <tr>
                        <th style="width: 1%;" class="uniformjs"><input type="checkbox" id="chkAll" /></th>
                        <th style="width: 15%;" class="center">Email</th>
                        <th style="width: 8%;" class="left">Username</th>
                        <th style="width: 12%;" class="center">Full name</th>
                        <th style="width: 5%;" class="center">Status</th>
                        <th style="width: 22%" class=" center">Address</th>
                        <th style="width: 23%" class="center">About</th>
                        <th class="center" style="width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody id="searchResult">
                    <!-- Item -->
                    @foreach (var user in @Model)
                    {
                        <tr class="selectable">
                            <td class="center uniformjs"><input type="checkbox" value="@user.UserID" name="Id" /></td>
                            <td class="left">@user.Email</td>
                            <td class="left">@user.UserName</td>
                            <td class="left">@user.DisplayName()</td>
                            <td class="left">@user.Status</td>
                            <td class="left">@user.Address</td>
                            <td class="left">@user.About</td>
                            <td class="center">
                                <div class="btn-group btn-group-sm">
                                    <a href='@Url.Action("EditUser", "Admin", new { UserID = user.UserID })' class="lnkEdit"><input type="button" value="Edit" class="btn btn-success" /> </a>
                                    <a href='@Url.Action("DeleteUser", "Admin", new { UserID = user.UserID })' class="lnkDelete"><input type="button" value="Del" class="btn btn-danger" /> </a>
                                </div>
                            </td>
                        </tr>
                    }
                    <!-- // Item END -->
                </tbody>
            </table>
            <!-- // Table END -->
            <!-- With selected actions -->
            <div class="pull-left checkboxs_actions hide-2">
                <label class="strong">
                    With selected:
                    <a href='@Url.Action("DeleteMultipleUser", "Admin")' class="lnkDelete"><input type="submit" value="Del" class="btn btn-danger" /> </a>
                </label>
            </div>

            <!-- // With selected actions END -->
            <!-- Pagination -->
            <ul class="pagination pull-right margin-none">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("UserList", new { page }))
            </ul>
            <div class="clearfix"></div>
            <!-- // Pagination END -->

        </div>
    </div>
    <!-- // Widget -->
</div>