@model Footprints.ViewModels.PersonalViewModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <div class="layout-app">  -->
<div class="container" style="margin-top:60px">
    <div class="innerAll">
        @*Main content*@
        <div class="row">
            <div class="col-lg-1 col-md-2"></div>
            <div class="col-lg-9 col-md-8">
                @*Timeline cover*@
                @{Html.RenderPartial("CoverWidget");}
                <h3>About</h3>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="innerAll bg-white">
                            <h5>Short Bio</h5>
                            <div class="media innerB ">
                                <a href="" class="pull-left">
                                    <img src="@Model.ProfilePicURL" alt="" width="75" />
                                </a>
                                <div class="media-body">
                                    <p>@Model.About</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="widget">
                            <div class="widget-head border-bottom bg-gray">
                                <h5 class="innerAll pull-left margin-none">Basic Info</h5>
                            </div>
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-sm-6">User:</div>
                                    <div class="col-sm-6 text-right">
                                        <span class="label label-default">@Model.UserName</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">Gender:</div>
                                    <div class="col-sm-6 text-right">
                                        <span class="label label-default">@Model.Genre</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">Joined:</div>
                                    <div class="col-sm-6 text-right">
                                        <span class="label label-default">@Model.JoinDate.ToString("dd MMM yyyy")</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-head border-bottom bg-gray">
                                <h5 class="innerAll pull-left margin-none">Contact</h5>
                                <div class="pull-right">
                                    <a href="" class="text-muted">
                                        <i class="fa fa-pencil innerL"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body padding-none">
                                <div class="innerAll">
                                    <p class=" margin-none"><i class="fa fa-phone fa-fw text-muted"></i> @Model.PhoneNumber</p>
                                </div>
                                <div class="border-top innerAll">
                                    <p class=" margin-none"><i class="fa fa-envelope fa-fw text-muted"></i> @Model.Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-head border-bottom bg-gray">
                                <h5 class="innerAll pull-left margin-none">Statistics</h5>
                            </div>
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-sm-6">Journey:</div>
                                    <div class="col-sm-6 text-right">
                                        <span class="label label-default">@Model.NumberOfJourney</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">Destinations:</div>
                                    <div class="col-sm-6 text-right">
                                        <span class="label label-default">@Model.NumberOfDestination</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">Friends:</div>
                                    <div class="col-sm-6 text-right">
                                        <span class="label label-default">@Model.NumberOfFriend</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


