@model Footprints.ViewModels.PersonalViewModel
@using Microsoft.AspNet.Identity

<div class="timeline-cover">
    <div class="cover image ">
        <div class="top">
            <img src="@Model.CoverPhotoUrl" class="img-responsive" style="width:1130px;height:250px" />
            <a href="#modal-cover-picture-add" data-toggle="modal" class="btn btn-primary" style="position:absolute;right:10px;top:15px">Change Profile Picture</a>
        </div>
        <ul class="list-unstyled" style="background:rgba(0,0,0,0.5) !important">
            <li><a href="@Url.Action("Index","Personal")"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
            <li><a href="@Url.Action("About","Personal")"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
            <li><a href="@Url.Action("Index","Media")"><i class="icon-photo-camera"></i> <span>Photos</span> <small>(@Model.NumberOfFriend)</small></a></li>
            <li><a href="@Url.Action("Index","Friend")"><i class="icon-group"></i> <span>Friends</span> <small>(19)</small></a></li>
            @*<li><a href="messages.html?component=timeline&amp;v=v2.0.1-rc1"><i class="icon-envelope-fill-1"></i> <span>Messages</span> <small>(2 new)</small></a></li>*@
        </ul>
    </div>
    <div class="widget cover image">
        <div class="widget-body padding-none margin-none">
            <div class="photo">
                <a href="#modal-avatar-picture-add" data-toggle="modal"><img src="@Model.ProfilePicURL" class="img-circle" style="width:100px;height:100px" /></a>
            </div>
            <div class="innerAll border-right pull-left">
                <h3 class="margin-none">@Model.UserName</h3>
                <span>Joined since @Model.JoinDate.Date</span>
            </div>
            <div class="innerAll pull-left">
                <p class="lead margin-none "> <i class="fa fa-quote-left text-muted fa-fw"></i> @Model.Status</p>
            </div>
            @{
                if (!Model.UserID.ToString().Equals(User.Identity.GetUserId()))
                {
                    <div class="innerAll pull-right">
                        <a href="#" id="friend-button" class="pull-right btn btn-primary btn-sm" style="position:absolute;top:15px;right:15px">
                        @if (ViewBag.AlreadyFriend)
                        {
                            <text>Unfriend</text>
                        }
                        else { 
                            <text>Add Friend</text>
                        }                        
                        </a>
                    </div>
                }
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>
