@model Footprints.ViewModels.PersonalViewModel
@using Footprints.Common;
@using Footprints.ViewModels;
@{
    ViewBag.Title = "Personal Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/personal")
<div class="container" style="margin-top:60px">
    <div class="innerAll">
        @*Main content*@
        <div class="row">
            <div class="col-lg-9 col-md-8">
                @*Timeline cover*@
                @{Html.RenderPartial("CoverWidget");}

                @*Timeline mirror*@
                <h5 class="strong innerAll margin-none">Footprints Timeline</h5>
                <div class="relativeWrap overflow-hidden">
                    <div class="row row-merge border-bottom border-top layout-timeline layout-timeline-mirror">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="innerAll">
                                <ul class="timeline">
                                    @{Html.RenderPartial("PersonalDestinationWidget",DestinationWidgetViewModel.GetSampleObject());}
                                    @{Html.RenderPartial("PersonalCommentWidget",CommentWidgetViewModel.GetSampleObject());}
                                    @{Html.RenderPartial("PersonalAddPhotoWidget",AddPhotoWidgetViewModel.GetSampleObject());}
                                    @{Html.RenderPartial("PersonalJourneyWidget",JourneyWidgetViewModel.GetSampleObject());}
                                    @{Html.RenderPartial("PersonalShareWidget", ShareWidgetViewModel.GetSampleObject());}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <!-- START ACCOUNT DETAILS -->
                <div class="widget widget-body-white padding-none ">
                    <div class="widget-head height-auto">
                        <div class="media innerAll">
                            <a href="" class="pull-right"><i class="fa icon-comment-fill-2"></i></a>
                            <a href="" class="pull-left"><img src="@Model.ProfilePicURL" alt="" class="img-circle" style="width:50px;height:50px"></a>
                            <div class="media-body">
                                <h4>@Model.UserName</h4>
                                <p class="margin-none">Project Manager</p>
                            </div>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li class="innerAll border-bottom">
                            <span class="badge badge-default pull-right">@Model.NumberOfJourney</span>
                            <i class="fa fa-fw icon-user-1"></i> Journeys
                        </li>
                        <li class="innerAll border-bottom">
                            <span class="badge badge-default pull-right">@Model.NumberOfDestination</span>
                            <i class="fa fa-fw fa-dashboard"></i> Destinations
                        </li>
                        <li class="innerAll border-bottom">
                            <span class="badge badge-default bg-primary pull-right">@Model.NumberOfFriend</span>
                            <i class="fa fa-fw icon-browser-check"></i> Friends
                        </li>                                               
                    </ul>
                </div>
                <!-- //END ACCOUNT DETAILS -->

                @*Basic Info*@
                <div class="widget">
                    <div class="widget-head border-bottom bg-gray">
                        <h5 class="innerAll pull-left margin-none">Basic Info</h5>
                        <div class="pull-right">
                            <a href="" class="text-muted">
                                <i class="fa fa-pencil innerL"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-6">User:</div>
                            <div class="col-sm-6 text-right">
                                <span class="label label-default">@Model.UserName</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">Friends:</div>
                            <div class="col-sm-6 text-right">
                                <span class="label label-default">@Model.NumberOfFriend</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">Joined:</div>
                            <div class="col-sm-6 text-right">
                                <span class="label label-default">@(DateTimeFormat.TimeAgo(Model.JoinDate))</span>
                            </div>
                        </div>
                    </div>
                </div>

                @*Contact*@
                <div class="widget">
                    <div class="widget-head border-bottom bg-gray">
                        <h5 class="innerAll pull-left margin-none">Contact</h5>
                        <div class="pull-right">
                            <a href="" class="text-muted">
                                <i class="fa fa-facebook innerL"></i>
                            </a>
                            <a href="" class="text-muted">
                                <i class="fa fa-twitter innerL"></i>
                            </a>
                            <a href="" class="text-muted">
                                <i class="fa fa-dribbble innerL"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body padding-none">
                        <div class="innerAll">
                            <p class=" margin-none"><i class="fa fa-phone fa-fw text-muted"></i> @(Model.PhoneNumber != null ? Model.PhoneNumber : "Not Updated Yet")</p>
                        </div>
                        <div class="border-top innerAll">
                            <p class=" margin-none"><i class="fa fa-envelope fa-fw text-muted"></i> Email us</p>
                        </div>
                        <div class="border-top innerAll">
                            <p class=" margin-none"><i class="fa fa-link fa-fw text-muted"></i> <a href="">Visit website</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#friend-button").click(function (e) {
        if ($(this).html() == "Add Friend") {

            //submit http request
            $.get("@Url.Action("MakeFriend",new {controller = "Personal"})",
                { userID: "@Model.UserID" },
                function (data) {
                    if (data.result.toString() == "true") {
                        alert(data.result.toString());
                        //change icon
                        $("#friend-button").html('Unfriend');
                    }
                });
        }
        else {            
            //submit http request
            $.get("@Url.Action("MakeFriend",new {controller = "Personal"})",
                { userID: "@Model.UserID" },
                function (data) {                    
                    if (data.result.toString() == "true") {                        
                        //change icon
                        $("#friend-button").html('Add Friend');  
                    }
                });
        }
        return false;
    });
</script>
@{Html.RenderPartial("AddCoverPhotoModal");}
@Scripts.Render("~/script/personal")