@model Footprints.ViewModels.JourneyWidgetViewModel
@using Footprints.Common

<li class="active">
    <div class="separator bottom">        
        <span class="type glyphicons luggage"> <i></i></span>        
    </div>
    <div class="widget widget-heading-simple widget-body-white margin-none">
        <div class="widget-body">
            <div class="media">
                <div class="media-object pull-left thumb"><img src="@Model.ProfilePicURL" style="width:50px;height:auto !important" alt="Image" /></div>
                <div class="media-body">
                    <a class="author">@Model.UserName</a><br />
                    <span class="muted">@Model.Timestamp.ToStringShort()</span>
                </div>
            </div>
            <div class="alert alert-gray">
                <p class="glyphicons circle_info margin-none"><i></i> Added a new journey named <a href="@Url.Action("Index", "Journey", new { journeyID = Model.JourneyID })">@Model.JourneyName</a></p>
                <blockquote class="margin-none">@Model.Description</blockquote>     
            </div>            
        </div>
    </div>
</li>

