@model IEnumerable<Footprints.ViewModels.CommentViewModel>
@{ AjaxOptions commentFormOptions = new AjaxOptions
   {
       HttpMethod = "Post",
       OnSuccess = "commentAdd"
   };
   var destinationID = @ViewBag.DestinationID;}
<script type="text/javascript">
    //get data from callback and insert html
    function commentAdd(data) {
        var target = $("#comment-section-container");
        for (var i = 0; i < data.length; i++) {
            var comment = data[i];
            target.before(
                '<li class="list-group-item">'
                + '	<img src="' + comment.UserAvatarURL + '" alt="Avatar" class="pull-left" width="36" height="36" />'
                + '	<div class="user-info">'
                + '		<div class="row">'
                + '			<div class="col-md-3">'
                + '				<a href="">' + comment.UserCommentName + '</a>'
                + '				<abbr>' + comment.TimeAgo +'</abbr>'
                + '			</div>'
                + '			<div class="col-md-9">'
                + '				<span> ' + comment.Content + '</span>'
                + '			</div>'
                + '		</div>'
                + '	</div>'
                + '</li>'
                );
        }
    }
</script>
<div class="row">
    <div class="col-md-12 col-sm-8">
        <ul class="list-group social-comments margin-none">
            @foreach (var comment in Model)
            {
                <li class="list-group-item">
                    <img src="@comment.UserAvatarURL" alt="Avatar" class="pull-left" width="36" height="36" />
                    <div class="user-info">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="">@comment.UserCommentName</a>
                                <abbr>@comment.TimeAgo</abbr>
                            </div>
                            <div class="col-md-9">
                                <span> @comment.Content</span>
                            </div>
                        </div>
                    </div>
                </li>
            }
            <li class="list-group-item innerAll" id="comment-section-container">
                @using (Ajax.BeginForm("Comment", new { controller = "Destination" }, commentFormOptions, new { id = "comment-form" + ViewBag.DestinationID }))
                {
                    @Html.Hidden("DestinationID", (object)ViewBag.DestinationID)
                    @Html.TextBox("Content", null, new { name="message", id = "comment-input" + @ViewBag.DestinationID, @class = "form-control input-sm", placeholder = "Comment here ..." })
                }
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $("#comment-input" + "@destinationID").focus(function () {
        $(this).data("hasfocus", true);
    });

    $("#comment-input"+"@destinationID").blur(function () {
        $(this).data("hasfocus", false);
    });

    $(document.body).keyup(function (ev) {
        // 13 is ENTER
        if (ev.which === 13 && $("#comment-input"+"@destinationID").data("hasfocus")) {
            $("comment-form" + "@destinationID").submit();
        }
    });
</script>
