@model Footprints.ViewModels.CommentViewModel
<div class="col-md-9" style="display: none" id="comment-edit-@Model.CommentID">
    @using (Ajax.BeginForm("EditComment", new { controller = "Destination" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "editComment" }, new { name = "frmEditComment" }))
    {
        @Html.ValidationSummary(true);
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.DestinationID);
        @Html.HiddenFor(x => x.CommentID);
        @Html.TextAreaFor(x => x.Content, new { rows = "3", style = "resize:none;", @class = "form-control autoheight" })
        @Html.ValidationMessageFor(x => x.Content)
        <input type="submit" class="btn btn-xs btn-primary pull-right" value="Done" />
    }
    <abbr>Press Esc to cancel.</abbr>
</div>