@model Footprints.ViewModels.DestinationViewModel
@using Footprints.ViewModels
@{
    ViewBag.IsAuthor = (bool)TempData["IsAuthor"];
}
<div class="widget widget-tabs widget-tabs-double widget-tabs-responsive">
    <div class="widget-body">
        <div class="tab-content">
            <!-- Tab content -->
            <div class="tab-pane active" id="tab1-2">
                <div id="google-map-container-destinations" style="height: 200px; width: 100%">
                    <div id="map-canvas-destinations" class="map-canvas"></div>
                </div>
            </div>
            <!-- // Tab content END -->
            <!-- Tab content -->
            <div class="tab-pane" id="tab2-2">
                @if (ViewBag.IsAuthor)
                {
                    <div class="row innerAll">
                        @{Html.RenderPartial("UploadPhotoForm", new ImageViewModel { ReturnUrl = @Url.Action("AddNewPhoto", "Destination"), MasterID = Model.DestinationID });}
                    </div>
                }
                @if (Model.Contents != null && Model.Contents.Count() > 0)
                {
                    <div class="widget widget-gallery" data-toggle="collapse-widget">
                        <div class="widget-body">
                            <div class="gallery gallery-2">
                                <ul class="row">
                                    @foreach (var content in @Model.Contents)
                                    {
                                        <li class="col-md-3" style="position:relative">
                                            @if (ViewBag.IsAuthor)
                                            {
                                                <div class="icon-edit pull-right" style="position:absolute; top:1px;right:8px; z-index:10">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown">
                                                            @*<i class="fa fa-pencil fa-1x"></i>*@
                                                            <span class="btn-default no-margin no-padding"><i class="glyphicon glyphicon-pencil"></i> </span>
                                                        </a>
                                                        <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                                            <li>
                                                                <a onclick="javascript:SetupDeleteDestinationForm.displayPopUpWindow('@content.ContentID');">Delete</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                            <a class="thumb no-ajaxify" data-gallery="gallery-2" href="@content.URL"><img src="@content.URL" alt="photo" class="img-responsive" /></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Blueimp Gallery -->
                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev no-ajaxify">‹</a>
                        <a class="next no-ajaxify">›</a>
                        <a class="close no-ajaxify">×</a>
                        <a class="play-pause no-ajaxify"></a>
                        <ol class="indicator"></ol>
                    </div>
                    <!-- // Blueimp Gallery END -->
                }
            </div>
            <!-- // Tab content END -->
        </div>
    </div>

    <!-- Tabs Heading -->
    <div class="widget-head" style="border-top: 1px solid #efefef; border-bottom:none !important">
        <ul>
            <li class="active">
                <a href="#tab1-2" class="glyphicons google_maps" data-toggle="tab"><i></i><span class="strong">Maps</span><span>Pin location</span></a>
            </li>
            <li>
                <a href="#tab2-2" class="glyphicons picture" data-toggle="tab"><i></i><span class="strong">Images</span><span>Captured</span></a>
            </li>
        </ul>

        <div class="innerAll pull-right">
            <a href="#" class="innerLR" id="like-btn">
                @{
                    if (!(bool)TempData["AlreadyLike"])
                    {
                        <i class="fa fa-2x fa-thumbs-o-up"></i> <span>Like</span>
                    }
                    else
                    {
                        <i class="fa fa-2x fa-thumbs-o-down"></i> <span>Unlike</span>
                    }
                    TempData.Remove("AlreadyLike");
                }
            </a>
            <a href="#" class="innerLR" id="share-btn"><i class="fa fa-2x fa-share-square-o"></i> <span>Share</span></a>
            <a href="#"><i class="fa fa-2x fa-facebook-square"></i> <span>Facebook</span></a>
        </div>
    </div>
    <!-- // Tabs Heading END -->
</div>
@{
    if (ViewBag.IsAuthor)
    {
        <script type="text/javascript">
            var SetupDeleteDestinationForm = (function () {
                return {
                    init: function () {
                    },
                    displayPopUpWindow: function (ContentID) {
                        document.forms['frmDeletePhoto'].elements["id"].value = ContentID;
                        $('#delete-photo-modal').modal('show');
                    }
                };
            })();
            $(function () {
                SetupDeleteDestinationForm.init();
            });
        </script>
    }
    TempData.Remove("IsAuthor");
}