@model Footprints.ViewModels.DestinationViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.DestinationID = Model.DestinationID;
}
@Styles.Render("~/css/destination")
<div class="container">
    <div class="innerAll">
        <div class="row">
            <div class="timeline-cover">
                <div class="cover image ">
                    <div class="top">
                        <img src="../assets//images/photodune-2755655-party-time-s.jpg" class="img-responsive" />
                    </div>
                </div>
                <div class="widget cover image">
                    <div class="widget-body padding-none margin-none">
                        <div class="innerAll border-right pull-left">
                            <h3 class="margin-none">Adrian Demian</h3>
                            <span>Works at MOSAICPRO</span>
                        </div>
                        <div class="innerAll pull-left">
                            <p class="lead margin-none "> <i class="fa fa-quote-left text-muted fa-fw"></i> What a fun Partyyy</p>
                        </div>
                        <div class="innerAll pull-right">
                            <button class="btn btn-info"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">

            @*Main Area*@

            <div class="col-lg-9 col-md-8">

                <!-- Tabs -->
                <div class="relativeWrap">
                    @{Html.RenderPartial("DestinationMainContentWidget", Model);}
                </div>
                <!-- // Tabs END -->
                @*description area*@
                @{Html.RenderPartial("DestinationDescriptionWidget");}
                @*comment area*@
                @{Html.RenderPartial("CommentSection", Model.Comments);}

                @*Side Area*@
                <div class="col-lg-3 col-md-4">

                </div>
            </div>

            @*Statistic board*@
            <div class="pull-right col-lg-3 col-md-4">
                <ul class="list-group list-group-1 margin-none">
                    <li class="list-group-item active bg-info"><a href="#"><i class="fa fa-user"></i> Stats</a></li>
                    <li class="list-group-item"><a href="#"><span class="badge pull-right badge-info hidden-md" id="like-number">13</span><i class="fa fa-thumbs-up"></i> Liked</a></li>
                    <li class="list-group-item"><a href="#"><span class="badge pull-right badge-info hidden-md" id="share-number">2</span><i class="fa fa-share"></i> Shared</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-map-marker"></i> Số 14 ngõ 139 Khương Nam Đống Đa Hà Nội</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@{Html.RenderPartial("EditDestinationForm", Model.EditDestinationForm);}
@* Delete destination confirmation modal*@
<div class="modal fade" id="delete-destination-modal">

    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal heading -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Delete Destination</h3>
            </div>
            <!-- // Modal heading END -->
            <!-- Modal body -->
            <div class="modal-body">
                <div class="innerAll">
                    <div class="innerLR">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label class="control-label">Are you sure want to delete this destination?</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Modal body END -->
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Destination", FormMethod.Post, new { @name = "frmDeleteDestination", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@Model.DestinationID"/>
                    <input type="hidden" name="JourneyID" value="@Model.JourneyID" />
                    <button class="btn btn-primary" type="submit"> Confirm</button>
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                }
            </div>

        </div>
    </div>

</div>
<!-- // Modal END -->

<div id="delete-photo-modal" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal heading -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Delete Photo</h3>
            </div>
            <!-- // Modal heading END -->
            <!-- Modal body -->
            <div class="modal-body">
                <div class="innerAll">
                    <div class="innerLR">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label class="control-label">Are you sure want to delete this photo?</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Modal body END -->
            <div class="modal-footer">
                @using (Html.BeginForm("DeletePhoto", "Media", FormMethod.Post, new { @name = "frmDeletePhoto", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id"/>
                    <button class="btn btn-primary" type="submit"> Confirm</button>
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                }
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        AccountSetupForm.init();
    });


    //liking
    $("#like-btn").click(function (e) {
        if ($(this).find("span").html() == "Like") {
            $(this).find("span").html('Unlike');
            $(this).find("i").removeClass('fa-thumbs-o-up');
            $(this).find("i").addClass('fa-thumbs-o-down');

            //submit http request
            $.get("@Url.Action("LikeUnlike",new {controller = "Destination"})",
                { userID: "@User.Identity.GetUserId()", destinationID: "@Model.DestinationID" },
                function (data) {
                    if (data == "Success") {
                        var likeSpanHtml = $("#like-number");
                        var numberOfLike = parseInt(likeSpanHtml.html());
                        numberOfLike = numberOfLike + 1;
                        if (numberOfLike != "NaN")
                            likeSpanHtml.html(numberOfLike.toString());
                    }
                });
        }
        else {
            $(this).find("span").html('Like');
            $(this).find("i").removeClass('fa-thumbs-o-down');
            $(this).find("i").addClass('fa-thumbs-o-up');



            //submit http request
            $.get("@Url.Action("LikeUnlike",new {controller = "Destination"})",
                { userID: "@User.Identity.GetUserId()", destinationID: "@Model.DestinationID" },
                function (data) {
                    if (data == "Success") {
                        var likeSpanHtml = $("#like-number");
                        var numberOfLike = parseInt(likeSpanHtml.html());
                        numberOfLike = numberOfLike - 1;
                        if (numberOfLike != "NaN")
                            likeSpanHtml.html(numberOfLike.toString());
                    }
                });
        }
        return false;
    });

    //sharing
    $("#share-btn").click(function (e) {
        if ($(this).find("span").html() != null && $(this).find("span").html() != "Shared") {
            var shareSpanHtml = $("#share-number");
            var numberOfShare = parseInt(shareSpanHtml.html());
            numberOfShare = numberOfShare + 1;
            if (numberOfShare != "NaN")
                shareSpanHtml.html(numberOfShare.toString());
            $(this).find("span").html("Shared");

            $(this).find("i").removeClass("fa-share-square-o");
            $(this).find("i").addClass("fa-check-square-o");

            //send http request
        }
    });
</script>

@Scripts.Render("~/script/destination")
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="/assets/plugins/google_map/js/google.map.init.js"></script>