@model Footprints.ViewModels.DestinationViewModel
@using Footprints.ViewModels;
@using Footprints.Models;
@using Newtonsoft.Json;
@using Footprints.Common;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Destination";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.DestinationID = Model.DestinationID;
}
@Styles.Render("~/css/destination")
<div class="container" style="margin-top:60px">
    <div class="innerAll" style="height:60px">

        <div class="row">
            @*Main Area*@
            <div class="col-lg-9 col-md-8">

                <!-- Tabs -->
                <div class="relativeWrap">
                    @{Html.RenderPartial("DestinationMainContentWidget", Model);}
                </div>
                <!-- // Tabs END -->
                @*description area*@
                @{Html.RenderPartial("DestinationDescriptionWidget");}
                @*comment area*@
                @{
                    var commentSectionViewData = new ViewDataDictionary { 
                        { "DestinationID", Model.DestinationID }};
                }
                @{Html.RenderPartial("CommentSection", Model.Comments, commentSectionViewData);}
                @*Side Area*@
                <div class="col-lg-3 col-md-4">

                </div>
            </div>

            @*Statistic board*@
            <div class="pull-right col-lg-3 col-md-4">
                <ul class="list-group list-group-1 margin-none">
                    <li class="list-group-item active bg-info"><a href="#"><i class="fa fa-user"></i> Stats</a></li>
                    <li class="list-group-item"><a href="#"><span class="badge pull-right badge-info hidden-md" id="like-number">@Model.NumberOfLike</span><i class="fa fa-thumbs-up"></i> Liked</a></li>
                    <li class="list-group-item"><a href="#"><span class="badge pull-right badge-info hidden-md" id="share-number">@Model.NumberOfShare</span><i class="fa fa-share"></i> Shared</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-map-marker"></i>@Model.Place.Name</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@{Html.RenderPartial("EditDestinationForm", Model.EditDestinationForm);}
@* Delete destination confirmation modal*@
<div class="modal fade" id="delete-destination-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal heading -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Delete Destination</h3>
            </div>
            <!-- // Modal heading END -->
            <!-- Modal body -->
            <div class="modal-body">
                <div class="innerAll">
                    <div class="innerLR">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label class="control-label">Are you sure want to delete this destination?</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Modal body END -->
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Destination", FormMethod.Post, new { @name = "frmDeleteDestination", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => @Model.DestinationID)
                    @Html.HiddenFor(x => @Model.JourneyID)
                    <button class="btn btn-primary" type="submit">Confirm</button>
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>
<!-- // Modal END -->
@{Html.RenderPartial("DeleteCommentModal");}
@{Html.RenderPartial("DeletePhotoModal", new DeletePhotoFormViewModel() { DestinationID = @Model.DestinationID });}

<script type="text/javascript">
    //Delete photo
    function deletePhoto(data) {
        if (data.Result == 'success') {
            $('#delete-photo-modal').modal('hide');
            $('#Content-' + data.ContentID).hide();
        } else if (data.Result == 'fail') {
            $('#delete-photo-modal').modal('hide');
        }
    }
    //liking
    $("#like-btn").click(function (e) {
        if ($(this).find("span").html() == "Like") {           

            //submit http request
            $.get("@Url.Action("LikeUnlike", new { controller = "Destination" })",
                { destinationID: "@Model.DestinationID" },
                function (data) {
                    if (data.Result == "Success") {
                        //add number of like
                        $("#like-number").html(data.NumberOfLike);
                        //change icon
                        $("#like-btn").find("span").html('Unlike');
                        $("#like-btn").find("i").removeClass('fa-thumbs-o-up');
                        $("#like-btn").find("i").addClass('fa-thumbs-o-down');
                    }
                });
        }
        else {        
            //submit http request
            $.get("@Url.Action("LikeUnlike", new { controller = "Destination" })",
                { destinationID: "@Model.DestinationID" },
                function (data) {
                    if (data.Result == "Success") {
                        //add number of like
                        $("#like-number").html(data.NumberOfLike);
                        $.post("@Url.Action("Share")"
                        
                        )
                        //change icon
                        $("#like-btn").find("span").html('Like');
                        $("#like-btn").find("i").removeClass('fa-thumbs-o-down');
                        $("#like-btn").find("i").addClass('fa-thumbs-o-up');
                    }
                });
        }
        return false;
    });

    //sharing
    $("#share-btn").click(function (e) {
        if ($(this).find("span").html() != null && $(this).find("span").html() != "Shared") {
            
            //send http request
            $.get("@Url.Action("ShareDestination", "Destination")", {
                userID: "@User.Identity.GetUserId()",
                destinationID: "@Model.DestinationID",
                content: "something"
            }, function (data) {
                var shareSpanHtml = $("#share-number");
                var numberOfShare = parseInt(shareSpanHtml.html());
                numberOfShare = numberOfShare + 1;

                if (numberOfShare != "NaN")
                    shareSpanHtml.html(numberOfShare.toString());

                $(this).find("span").html("Shared");

                $(this).find("i").removeClass("fa-share-square-o");
                $(this).find("i").addClass("fa-check-square-o");
            });
        }
    });
</script>
@Scripts.Render("~/script/destination")
<script type="text/javascript" src="/assets/plugins/jquery/jquery.resizecrop-1.0.3.js"></script>
<script type="text/javascript">
    var currentLatitude = "@Model.Place.Latitude";
    var currentLongitude = "@Model.Place.Longitude";
    var imageContainerWidth = 50;
    var isFirstActiveGalleryTab = true;
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href");
        if ((target == '#tab-gallery')) {
            if (isFirstActiveGalleryTab) {
                var listImg = $('.img-responsive');
                imageContainerWidth = listImg.first().parents('li').width();
                $('.img-responsive').resizecrop({
                    width: imageContainerWidth,
                    height: imageContainerWidth,
                    vertical: "top"
                });
                isFirstActiveGalleryTab = false;
            }
        }
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="/assets/plugins/google_map/js/google.map.init.js"></script>