@model Footprints.ViewModels.AddNewDestinationFormViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" href="#new-destination-form"><i class="fa fa-plus-circle"></i> Add Destination</a></h4>
    </div>
    <div id="new-destination-form" class="panel-collapse collapse">
        <div class="panel-body">
            @using (Html.BeginForm("Create", "Destination", FormMethod.Post, new { @name = "frmDestination", @class = "form-horizontal", @role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        @Html.ValidationMessageFor(x => x.PlaceID)
                        @Html.ValidationMessageFor(x => x.PlaceName)
                        @Html.ValidationMessageFor(x => x.Longitude)
                        @Html.ValidationMessageFor(x => x.Latitude)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { @placeholder = "Destination name", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Description, new { @placeholder = "Write your description here...", @class = "notebook border-none form-control padding-none", cols = "20", rows = "4" })
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.TakenDate, new { @class = "col-md-2 control-label" })
                    <div class="col-sm-10">
                        <div class="input-group date datepicker2">
                            @Html.TextBoxFor(x => x.TakenDate, "{0:dd MMMM yyyy}", new { @class = "form-control", id = "TakenDate", data_val = "true" })
                            @Html.ValidationMessageFor(x => x.TakenDate)
                            <span class="input-group-addon"><i class="fa fa-th"></i></span>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(x => x.PlaceID)
                @Html.HiddenFor(x => x.PlaceName)
                @Html.HiddenFor(x => x.Latitude)
                @Html.HiddenFor(x => x.Longitude)
                @Html.HiddenFor(x => x.JourneyID)
                @Html.HiddenFor(x => x.Reference)
                @Html.HiddenFor(x => x.Address)
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>