@model Footprints.ViewModels.DestinationViewModel
@using Footprints.ViewModels
@using Footprints.Models
@using Footprints.Common
@{var destinationID = @Model.DestinationID.ToString();}

<li>
    <span class="marker"></span>
    <div class="block block-inline" style="width: 500px !important">
        <div class="caret"></div>
        <div class="box-generic">
            <div class="timeline-top-info">
                <a href="@Url.Action("Index","Personal", new {userID = Model.UserID})"><img src="@Model.ProfilePicURL" style="width:40px !important" /></a>
                <a href="@Url.Action("Index","Personal", new {userID = Model.UserID})" class="text-inverse">@Model.UserName</a> visited
                <a href="@Url.Action("Index", "Destination", new { destinationID = Model.DestinationID})" class="text-info"><i class="fa fa-location-arrow"></i> @Model.Name</a>
            </div>
            <div class="media margin-none">
                <div class="row innerLR innerB">
                    <div class="col-lg-12 col-md-12">
                        <div class="innerT" style="display: inline; word-break: break-all; word-wrap: break-word !important">
                            <p>@Model.Description.TruncateLongString(100)<a href="@Url.Action("Index", "Destination", new {destinationID = Model.DestinationID })">... more</a></p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="innerT">
                            <a href="@Url.Action("Index", "Destination", new { destinationID = Model.DestinationID})"><img src="@Model.Place.ConstructMapImageUrl(420,200,12)" /></a>
                        </div>
                    </div>
                </div>
            </div>
            @*Comment Section*@
            @if (Model.Comments != null && Model.Comments.Count > 0)
            {
                if (Model.Comments.Count > 4)
                {
                    <a href="@Url.Action("Index", "Destination", new { destinationID = @Model.DestinationID})"></a><div class="bg-gray innerAll border-top border-bottom text-small ">
                        <span>View all <a href="" class="text-primary">@Model.Comments.Count Comments</a></span>
                    </div>
                }
                for (int index = 0; index < Model.Comments.Count && index < 4; index++)
                {
                    <div class="media innerAll bg-gray margin-none border-top border-bottom">
                        <a class="pull-left" href="@Url.Action("Index", "Personal", new { userID = Model.Comments[index].User.UserID})"><img src="@Model.Comments[index].User.ProfilePicURL" alt="photo" class="media-object" width="35"></a>
                        <div class="media-body">
                            <a href="@Url.Action("Index", "Personal", new { userID = Model.Comments[index].User.UserID})" class="strong text-inverse">@Model.Comments[index].User.UserName</a>
                            <div class="timeline-bottom">
                                <i class="fa fa-clock-o"></i> @DateTimeFormat.TimeAgo(Model.Comments[index].Timestamp)
                            </div>
                            <span style="white-space:pre-line">@Model.Comments[index].Content</span>
                        </div>
                    </div>
                }
            }
            <div style="display: none" id="empty-last-comment-@Model.DestinationID"></div>
            <div class="" id="@String.Format("section-form-{0}", Model.DestinationID.ToString())">
                @using (Ajax.BeginForm("Comment", new { controller = "Destination" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "addComment", OnComplete = "addCommentComplete('" + @Model.DestinationID + "')", OnBegin = "return validateAddCommentForm('" + @Model.DestinationID + "');" }, new { id = "add-comment-form-" + Model.DestinationID.ToString() }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("DestinationID", Model.DestinationID)
                    <div class="input-group comment">
                        @Html.TextBox("Content", null, new { id = "comment-input-" + @Model.DestinationID + "", @class = "form-control", placeholder = "Comment here ..." })
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-comment"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="timeline-bottom innerT half">
            <i class="fa fa-clock-o"></i> @Model.TimeAgo  <span class="innerL"><i class="fa fa-calendar fa-fw"></i> @Model.TakenDate</span>
        </div>
    </div>
</li>
