@model Footprints.Models.Comment
<div style="display: none" id="comment-edit-@Model.CommentID">
    @using (Ajax.BeginForm("EditComment", new { controller = "Journey" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "editComment" }, new { name = "frmEditComment" }))
    {
        @Html.ValidationSummary(true);
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.JourneyID);
        @Html.HiddenFor(x => x.CommentID);
        @Html.TextAreaFor(x => x.Content, new { rows = "1", style = "resize:none;", @class = "form-control input-sm autoheight" })
        <input type="submit" class="btn btn-xs btn-primary pull-right" value="Done" />
        @Html.ValidationMessageFor(x => x.Content)
    }
    <abbr>Press Esc to cancel.</abbr>
</div>
