@using System
@model IEnumerable<Footprints.Models.Journey>
@{
    ViewBag.Title = "Journey List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:60px">
    <div class="innerAll" style="height:60px">

        <div class="row">
            @*Main Area*@
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8">
                @if (Model.Count() == 0)
                {
                    <div class="widget">
                        <div class="innerAll inner-2x border-bottom">
                            <div class="row">
                                <i class="fa fa-2x icon-map-location-fill-2"></i>
                                <span>There are no Journeys created.</span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    foreach (var journey in Model)
                    {
                        <div class="widget">
                            <div class="innerAll inner-2x border-bottom">
                                <h4><a href="@Url.Action("Index", "Journey", new { journeyID = @journey.JourneyID})">@journey.Name</a></h4>
                                <p class="margin-none"><i class="fa fa-calendar"></i> @String.Format("{0:dd MMMM yyyy}", journey.TakenDate)</p>
                                <p class="margin-none" style="white-space: pre-line"><i class="fa fa-align-left"></i> @journey.Description</p>
                                @if (journey.Destinations != null && journey.Destinations.Count > 0)
                                {
                                    <ul class="list-group margin-none innerT">
                                        @foreach (var destination in journey.Destinations)
                                        {
                                            <li class="list-group-item"><a href="@Url.Action("Index", "Destination", new { destinationID = @destination.DestinationID})"><i class="fa fa-map-marker"></i> @destination.Name</a></li>
                                        }
                                    </ul>
                                }
                            </div>
                            <div class="row row-merge bg-white">
                                <div class="col-md-2">
                                    <a class="innerAll text-center display-block text-muted" href=""><i class="fa fa-2x fa-thumbs-o-up"></i> @journey.NumberOfLike</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="innerAll text-center display-block text-muted" href=""><i class="fa fa-2x fa-share"></i> @journey.NumberOfShare</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="innerAll text-center display-block text-muted" href=""><i class="fa fa-2x fa-map-marker"></i> @journey.Destinations.Count</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>