@model Footprints.Models.LoginViewModel

<form class="navbar-form navbar-right form-inline" action="@Url.Action("Login","Account")" method="post">
    @Html.Hidden("returnUrl", @Url.Action("Index", "Newsfeed"))
    @*@using (Html.BeginForm("Login", "Account", new { returnUrl = @Url.Action("Index", "Newsfeed") }, FormMethod.Post, new { @class = "navbar-form navbar-right form-inline" }))
        {*@
    @Html.AntiForgeryToken()    
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "UserName" })
        @Html.ValidationMessageFor(x=>x.UserName)
        @*<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">*@
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password", placeholder = "Password" })
        @Html.ValidationMessageFor(x=>x.Password)
        @*<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">*@
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.RememberMe)
            @*<input type="checkbox">*@ Remember me
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Sign in</button>
    </div>
    @Html.ValidationSummary(true)
    @*}*@

</form>