@model Footprints.Models.RegisterViewModel
@using Footprints.Common;

<form action="@Url.Action("Register","Account")" style="margin:30px 30px" method="post">

    @Html.AntiForgeryToken()
    <h1 style="color:#fff">Register</h1>
    <hr />
    @{
        if (Session["ValidationSummary"] != null && Session["ValidationSummary"].Equals("Register"))
        {
            @Session["Error"]
        } 
    }
    <div class="form-group">
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Username" })
        @Html.ValidationMessageFor(x => x.UserName)
    </div>

    <div class="form-group">
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", type = "Password" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <div class="form-group">
        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", type = "Password" })
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
    </div>

    <div class="form-group">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Your Email" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4 text-inverse">
                @Html.RadioButtonFor(model => model.Genre, Genre.Male) <h4 style="color:#fff;display:inline">Male</h4>
            </div>
            <div class="col-md-5 text-inverse">
                @Html.RadioButtonFor(model => model.Genre, Genre.Female) <h4 style="color: #fff; display: inline">Female</h4>                
            </div>
        </div>
        @Html.ValidationMessageFor(x => x.Genre)
    </div>

    <hr />
    <div class="form-group">
        <button type="submit" class="btn btn-info">Register now</button>
    </div>

</form>