@model Footprints.ViewModels.NewsfeedPostViewModel

<div class="items">
    <div class="top-title bg-gray clearfix">
        <div class="avata">
            <a href="#"><img src="~/images/avata.jpg" style="width:60px; height: 60px" /></a>
        </div>
        <div class="box-name">
            @Html.ActionLink(@*"Trịnh Nhân"*@ @Model.AuthorName, "Index", null, new {@class = "name-member"})
            <p>Đã khởi động một chuyến đi <span class="time-travel">-@*15 giờ trước*@ @Model.TimeAgo</span></p>
        </div>
        <!--pop up menu edit and delete-->
        <div class="icon-edit pull-right">
            <div class="dropdown">
                <a data-toggle="dropdown" href="#">
                    <i class="fa fa-pencil fa-1x"></i>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a href="#">Edit</a>
                    </li>
                    <li>
                        <a href="#">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--End-->
    </div>
    <div class="inner-all">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <div class="map">
                    <img src="~/images/map2.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-inverse ">@*Tại Hà Nội*@ @Model.Location<span class="number-img">- @Model.NumberOfImages ảnh</span></div>
                <div class="txt-content">
                    @*Nội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dungNội dung*@
                    @Model.Description
                </div>
            </div>
        </div>
        <div class="row top-border">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <a href="#" class="txt-like">Like</a>
                <a href="#" class="txt-view">View detail</a>
            </div>
            <div class="col-md-6 text-right">
                <div class="total-like">
                    <i class="fa fa-thumbs-up"></i>
                    @Model.NumberOfLikes
                </div>
                <div class="total-comment">
                    <i class="fa fa-comment-o"></i>
                    @Model.NumberOfComments
                </div>
            </div>
        </div>
        <div class="row top-border">
            <div class="col-md-12">
                <a href="#">View all @Model.NumberOfComments comment</a>
            </div>
        </div>
        @foreach (var comment in Model.Comments) { 
        <div class="row top-border">
            <div class="col-md-12">
                <div class="avata">
                    <a href="#"><img src="~/images/avata.jpg" style="width:30px; height: 30px" /></a>
                </div>
                <div class="box-right">
                    <p><a href="#" class="name-member">@comment.UserCommentName</a> <span class="time-travel">-@comment.TimeAgo</span></p>
                    <p>@comment.Content </p>
                    <p><a href="#" class="">Like</a> <span class="time-travel">-@comment.TimeAgo</span></p>
                </div>
            </div>
        </div>
        }
        <div class="row top-border bg-gray">
            <div class="col-md-12">
                <div class="avata">
                    <a href="#"><img src="~/images/avata.jpg" style="width:30px; height: 30px" /></a>
                </div>
                <div class="box-right">
                    <input type="text" class="form-control" id="" placeholder="Your comment here..">
                </div>
            </div>
        </div>

    </div>
</div>
