@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 paceCounter paceSocial sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 paceCounter paceSocial sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 paceCounter paceSocial sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie paceCounter paceSocial sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if !IE]><!-->
<html class="paceCounter paceSocial sidebar sidebar-social footer-sticky">
<!-- <![endif]-->
<head>
    <title>Footprints Newsfeed</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!--
    **********************************************************
    In development, use the LESS files and the less.js compiler
    instead of the minified CSS loaded by default.
    **********************************************************
    <link rel="stylesheet/less" href="../assets/less/admin/module.admin.stylesheet-complete.less" />
    -->
    <!--[if lt IE 9]><link rel="stylesheet" href="../assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/css/core")

    <script src="../assets/plugins/core_ajaxify_loadscript/script.min.js?v=v2.0.0-rc8&sv=v0.0.1.2"></script>
    <script>
        var basePath = '',
       commonPath = '../assets/',
       rootPath = '../',
       DEV = false,
       componentsPath = '../assets/components/';

        var primaryColor = '#25ad9f',
            dangerColor = '#b55151',
            successColor = '#609450',
            infoColor = '#4a8bc2',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;
        var App = {};
        App.Config = {
            ajaxify_menu_selectors: ['#menu'],
            ajaxify_layout_app: false
        };
    </script>

    @Scripts.Render("~/script/core")
    @Scripts.Render("~/script/dependency")
    @Scripts.Render("~/script/plugins")
    @Scripts.Render("~/script/bundle")
    @Styles.Render("~/css/timeline")
</head>

<body class=" scripts-async menu-right-hidden">
    <!-- Main Container Fluid -->
    <div class="container-fluid menu-hidden ">
        <!-- Content START -->
        <div id="content">

            <div class="navbar hidden-print navbar-default box main" role="navigation">

                <div class="user-action user-action-btn-navbar pull-right border-left">
                    <a href="#menu-right" class="btn btn-sm btn-navbar btn-open-right"><i class="fa fa-comments fa-2x"></i></a>
                </div>
                <div class="user-action user-action-btn-navbar pull-left">
                    <a href="#menu" class="btn btn-sm btn-navbar btn-open-left"><i class="fa fa-bars fa-2x"></i></a>
                </div>

                <ul class="notifications pull-left hidden-xs">
                    <li class="dropdown notif">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="notif-block icon-envelope-1"></i><span class="fa fa-star"></span></a>
                        <ul class="dropdown-menu chat media-list">
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/15.jpg" alt="50x50" width="50" /></a>
                                <div class="media-body">
                                    <span class="label label-default pull-right">5 min</span>
                                    <h5 class="media-heading">Adrian D.</h5>
                                    <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/16.jpg" alt="50x50" width="50" /></a>
                                <div class="media-body">
                                    <span class="label label-default pull-right">2 days</span>
                                    <h5 class="media-heading">Jane B.</h5>
                                    <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/17.jpg" alt="50x50" width="50" /></a>
                                <div class="media-body">
                                    <span class="label label-default pull-right">3 days</span>
                                    <h5 class="media-heading">Andrew M.</h5>
                                    <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="user-action pull-left menu-right-hidden-xs menu-left-hidden-xs border-left">
                    <div class="dropdown username pull-left">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="media margin-none">
                                <span class="pull-left"><img src="../assets/images/people/35/16.jpg" alt="user" class="img-circle"></span>
                                <span class="media-body">Bill <span class="caret"></span></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="about_1.html?lang=en">About</a></li>
                            <li><a href="messages.html?lang=en">Messages</a></li>
                            <li><a href="timeline_3.html?lang=en">Profile</a></li>
                            <li><a href="login.html?lang=en">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="input-group hidden-xs pull-left">
                    <span class="input-group-addon"><i class="icon-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search a friend" />
                </div>
            </div>



            <!-- <div class="layout-app">  -->
            <div class="innerAll">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-lg-offset-0 col-md-offset-0">

                        <div class="gridalicious-row" data-toggle="gridalicious" data-gridalicious-width="340" data-gridalicious-gutter="12" data-gridalicious-selector=".gridalicious-item">
                            <div class="innerAll inner-2x loading text-center text-medium"><i class="fa fa-fw fa-spinner fa-spin"></i> Loading</div>
                            <div class="loaded hide2">
                                <!-- Personal Widget -->
                                @{Html.RenderPartial("PersonalWidget");}

                                <!-- Widget -->
                                @{Html.RenderPartial("ListFriendWidget");}
                                <!-- //End Widget -->

                                <!-- Widget -->
                                @{Html.RenderPartial("JourneyWidget");}
                                <!-- //End Widget -->

                                <!-- Widget -->
                                @{Html.RenderPartial("DestinationWidget");}
                                <!-- //End Widget -->

                                <!-- Widget -->
                                @{Html.RenderPartial("AddPhotoWidget");}
                                <!-- //End Widget -->

                                <!-- Widget -->
                                @{Html.RenderPartial("CommentWidget");}
                                <!-- //End Widget -->
                                <!-- Widget -->
                                @{Html.RenderPartial("ShareWidget");}
                                <!-- //End Widget -->
                                <!-- Widget -->
                                @{Html.RenderPartial("WidePictureWidget");}
                                <!-- //End Widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Content END -->

    <div class="clearfix"></div>
    <!-- // Sidebar menu & content wrapper END -->
    <!-- Footer -->
    <div id="footer" class="hidden-print">

        <!--  Copyright Line -->
        <div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase Social Admin Template</a> - Current version: v2.0.0-rc8 / <a target="_blank" href="../assets/../../CHANGELOG.txt?v=v2.0.0-rc8">changelog</a></div>
        <!--  End Copyright Line -->

    </div>
    <!-- // Footer END -->    
    <!-- // Main Container Fluid END -->
    <!-- Global -->\
    <script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&callback=initGoogleMaps"></script>
</body>
</html>
