<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 paceCounter paceSocial sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 paceCounter paceSocial sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 paceCounter paceSocial sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie paceCounter paceSocial sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if !IE]><!-->
<html class="paceCounter paceSocial sidebar sidebar-social footer-sticky">
<!-- <![endif]-->
<head>
    <title>@ViewBag.Title</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!--
    **********************************************************
    In development, use the LESS files and the less.js compiler
    instead of the minified CSS loaded by default.
    **********************************************************
    <link rel="stylesheet/less" href="../assets/less/admin/module.admin.stylesheet-complete.less" />
    -->
    <!--[if lt IE 9]><link rel="stylesheet" href="../assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/css/core")

    <script src="../assets/plugins/core_ajaxify_loadscript/script.min.js?v=v2.0.0-rc8&sv=v0.0.1.2"></script>
    <script>
        var basePath = '',
       commonPath = '../assets/',
       rootPath = '../',
       DEV = false,
       componentsPath = '../assets/components/';

        var primaryColor = '#5577b4',
            dangerColor = '#b55151',
            successColor = '#609450',
            infoColor = '#4a8bc2',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;
        var App = {};
        App.Config = {
            ajaxify_menu_selectors: ['#menu'],
            ajaxify_layout_app: false
        };
    </script>
    @Scripts.Render("~/script/core")
    @Scripts.Render("~/script/dependency")
    @Scripts.Render("~/script/plugins")
    @Scripts.Render("~/script/bundle")
    @Styles.Render("~/css/timeline")
    @Styles.Render("~/css/form-modal")
    @Styles.Render("~/css/datepicker")
</head>

<body class=" scripts-async menu-right-hidden">
    <!-- Main Container Fluid -->
    <div class="container-fluid menu-hidden ">
        <!-- Content START -->
        @* Change id to generate form modal *@
        <div id="content-new">
            @{Html.RenderPartial("MainNavbar");}
            @*Render BODY*@
            @RenderBody()
        </div>
    </div>
    <!-- // Content END -->

    <div class="clearfix"></div>
    <!-- // Sidebar menu & content wrapper END -->
    <!-- Footer -->
    <div id="footer" class="hidden-print">

        <!--  Copyright Line -->
        <div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase Social Admin Template</a> - Current version: v2.0.0-rc8 / <a target="_blank" href="../assets/../../CHANGELOG.txt?v=v2.0.0-rc8">changelog</a></div>
        <!--  End Copyright Line -->

    </div>
    <!-- // Footer END -->
    <!-- // Main Container Fluid END -->
    <!-- Global -->
    @*<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&callback=initGoogleMaps"></script>*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/script/form-modal")
    @Scripts.Render("~/script/datepicker")
</body>
</html>