@Styles.Render("~/css/core")

<script src="../assets/plugins/core_ajaxify_loadscript/script.min.js?v=v2.0.0-rc8&sv=v0.0.1.2"></script>
<script>
    var basePath = '',
   commonPath = '../assets/',
   rootPath = '../',
   DEV = false,
   componentsPath = '../assets/components/';

    var primaryColor = '#5577b4',
        dangerColor = '#b55151',
        successColor = '#609450',
        infoColor = '#4a8bc2',
        warningColor = '#ab7a4b',
        inverseColor = '#45484d';

    var themerPrimaryColor = primaryColor;
    var App = {};
    App.Config = {
        ajaxify_menu_selectors: ['#menu'],
        ajaxify_layout_app: false
    };
</script>
@Scripts.Render("~/script/core")
@Scripts.Render("~/script/dependency")
@Styles.Render("~/css/form-modal")


<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Footprints CMS", "Index", "Admin", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Manager User", "UserList")</li>
                    <li>@Html.ActionLink("Manage Journey", "Journey")</li>
                    <li>@Html.ActionLink("Manage Destination", "Destination")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()
</div>
@Scripts.Render("~/script/form-modal")
