@*Nav Bar*@
@using Footprints.ViewModels
@model Footprints.Models.User
@{
    var searchType = ViewBag.SearchType;
    if (searchType == null)
    {
        searchType = new List<SearchType>() { SearchType.user };
    }
}
<nav class="navbar navbar-default top-nav navbar-fixed-top" role="navigation">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn btn-default" data-toggle="collapse" data-target="#navbar-fixed-layout-collapse">
                <i class="fa fa-indent"></i>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Newsfeed")"><img src="../assets//images/logo/logo.jpg" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-fixed-layout-collapse">
            <div class="row">
                <div class="col-md-4">
                    @{Html.RenderPartial("SearchFormPartial", new SearchDataViewModel { Keyword = @ViewBag.Keyword, SearchTypes = searchType });}
                </div>
                <div class="col-md-7">
                    <ul class="nav navbar-nav navbar-right">
                        @*<li class="innerLR"><button type="button" class="btn btn-success navbar-btn"><i class="fa fa-pencil"></i> Sign in</button></li>*@
                        <li style="">
                            <a href="@Url.Action("Index","Personal")">
                                <b>
                                    <span class="pull-left innerR"><img src="@Model.ProfilePicURL" alt="user" class="img-circle" style="width:35px;height:35px"><img /></span>
                                    @Model.UserName
                                </b>
                            </a>
                        </li>
                        <li>
                            <a href="#modal-new-journey" data-toggle="modal">
                                <b>
                                    <span class="pull-left innerR"><i class="fa fa-plus-circle"></i></span>
                                    New Journey
                                </b>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Friend")">
                                <b>
                                    <span class="pull-left innerR"><i class="fa fa-envelope-square"></i></span>
                                    Friends
                                </b>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="setting-dropdown" data-toggle="dropdown" class="dropdown-toggle">
                                <b>
                                    <span class="pull-left innerR"><i class="fa fa-asterisk info"></i></span>
                                    Settings
                                </b>
                            </a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="setting-dropdown">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Manage","Account")"><span class="glyphicon glyphicon-stats innerR"><i class=""></i></span>Manage Account</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Contact","Home")"><span class="glyphicon glyphicon-question-sign innerR"></span> Q&A</a></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" onclick="document.getElementById('log-out-form').submit()"><span class="glyphicon glyphicon-off innerR"></span>Log Out</a>
                                    <form id="log-out-form" action="@Url.Action("LogOff","Account")" method="post">
                                        @Html.AntiForgeryToken()
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
@{Html.RenderPartial("NewJourneyFormModal", Footprints.ViewModels.AddNewJourneyViewModel.GetSampleObject());}
