@model Footprints.ViewModels.CommentWidgetViewModel
@using Footprints.ViewModels;
<div class="widget gridalicious-item not-responsive">

    <!-- Info -->
    <div class="bg-primary">
        <div class="media">
            <a href="" class="pull-left"><img src="@Model.ProfilePicURL" style="width:50px !important" class="media-object"></a>
            <div class="media-body innerTB half">
                <a href="#" class="pull-right innerT innerR text-white">
                    <i class="icon-reply-all-fill fa fa-2x "></i>
                </a>
                <a href="" class="text-white strong display-block">@Model.UserName</a>
                <span>Commented on a <a href="@Url.Action("Index", "Destination", new { destinationID = Model.DestinationID })">destination</a> on @Model.Timestamp</span>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="innerAll">
        <div class="row">
            <div class="col-md-6">
                <div class="map_canvas" style="height: 180px">
                    <img id="google-map-json" src="" alt="somepicture" style="width:100%;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="strong text-inverse innerB half">
                    <a href="@Url.Action("Index", "Destination", new {destinationID = Model.DestinationID})" class="strong">place name</a>
                </div>
                <div class="media margin-none">
                    <p class="margin-none innerTB half">destination description goes here</p>
                    <a href="@Url.Action("Index", "Destination", new {destinationID = Model.DestinationID})" class="btn btn-xs btn-inverse">View</a>
                    <div class="media-body">
                        <small class="text-muted ">342 Likes</small>
                    </div>
                </div>
            </div>
        </div>
        <blockquote class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, delectus!</blockquote>
    </div>

    <!-- Comment -->
    <div class="bg-gray innerAll border-top border-bottom text-small ">
        <span>View all <a href="" class="text-primary">@Model.Comments.Count Comment</a></span>
    </div>

    <!-- First Comment -->
    @{Html.RenderPartial("NewsfeedWidgetCommentSection", Model.Comments);}

    <div class="input-group comment">
        <input type="text" class="form-control" placeholder="Your comment here...">
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary" href="#"><i class="fa fa-comment"></i></button>
        </div>
    </div>
</div>
