@model Footprints.ViewModels.JourneyWidgetViewModel
@using Footprints.Common

<div class="widget gridalicious-item not-responsive ">
    <!-- Info -->
    <div class="bg-gray  border-bottom innerAll">
        <a href="@Url.Action("Index", "Personal", new { @Model.UserID})" class="pull-right"><img src="@Model.ProfilePicURL" style="width:50px !important" class="media-object"></a>
        <a href="" class="lead strong display-block margin-none">New Journey - @Model.JourneyName </a>
        <span>added on @Model.Timestamp.ToStringShort()</span>
    </div>
    <!-- Content -->
    <div class="innerAll">
        <p class="lead strong">@Model.JourneyName</p>
        <div class="innerB">
            @if (Model.URL != null)
            {
                <a href=""><img src="@Model.URL" alt="" class="img-responsive" /></a>
            }
        </div>
    </div>
    <div class="innerAll border-top">
        <p> @Model.Description</p>
    </div>
</div>
