@using Footprints.Common
@model IEnumerable<Footprints.Models.Comment>
@using Footprints.ViewModels

@foreach (var comment in Model)
{
    <div class="media innerAll bg-gray margin-none border-top border-bottom">
        <a class="pull-left" href="@Url.Action("Index", "Personal", new { userID = comment.User.UserID})"><img src="@comment.User.ProfilePicURL" alt="photo" class="media-object" width="35"></a>
        <div class="media-body">
            <a href="@Url.Action("Index", "Personal", new { userID = @comment.User.UserID })" class="strong text-inverse">@comment.User.UserName</a>
            <div class="timeline-bottom">
                <i class="fa fa-clock-o"></i> @DateTimeFormat.TimeAgo(@comment.Timestamp)
            </div>
            <span style="white-space: pre-line">@comment.Content</span>
        </div>
    </div>
}