@model Footprints.ViewModels.ShareWidgetViewModel
@using Footprints.ViewModels

<div class="widget gridalicious-item not-responsive">

    <div class="media">
        <a href="" class="pull-left"><img src="@Model.ProfilePicURL" style="width:50px !important" class="media-object"></a>
        <div class="media-body innerTB half">
            <a href="#" class="pull-right innerT innerR text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
            <a href="" class="strong display-block">@Model.UserName</a>
            <span>shared a @Model.Type on @Model.Timestamp</span>
        </div>
    </div>

    <!-- Content -->
    <a href=""><img src="../assets/images/photodune-2755655-party-time-s.jpg" alt="" class="img-responsive"></a>

    <!-- Comment -->
    <div class="bg-primary innerAll text-small ">
        <span>View all <a href="" class="strong text-white">@Model.Comments.Count Comment</a></span>
    </div>

    <!-- First Comment -->
    <!-- First Comment -->
    @{Html.RenderPartial("NewsfeedWidgetCommentSection", Model.Comments);}

    <div class="input-group comment">
        <input type="text" class="form-control" placeholder="Your comment here...">
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary" href="#"><i class="fa fa-comment"></i></button>
        </div>
    </div>
</div>
