@model Footprints.ViewModels.AddPhotoWidgetViewModel
@using Footprints.Common
<div class="widget gridalicious-item not-responsive">
    <a href=""><img src="@Model.URL" alt="" class="img-responsive"></a>
    <!-- Info -->
    <div class="bg-primary">
        <div class="innerAll">
            <a href="#" class="pull-right innerT innerR text-white"><img src="@Model.ProfilePicURL" style="width:50px !important;height:50px" class="media-object"></a>
            <div class="innerAll">
                <a href="@Url.Action("Index", "Destination", new { destinationID = Model.DestinationID })" class="text-white text-medium">@Model.DestinationName</a>
                <span class="display-block">on @Model.Timestamp.ToStringShort()</span>
            </div>
        </div>
    </div>

    @{
        var uniqueid = Guid.NewGuid();
    }
    @if (Model.Comments != null && Model.Comments.Count > 0)
    {
        <a href="#comments-collapse-@uniqueid" class="innerAll border-top display-block " data-toggle="collapse"><i class="innerLR fa fa-bars"></i> View all comments <span class="text-muted">@Model.Comments.Count comments</span></a>
    }

    <div class="collapse" id="comments-collapse-@uniqueid">
        @{Html.RenderPartial("NewsfeedWidgetCommentSection", Model.Comments);}
    </div>
    <!--  Comment -->
    <div style="display: none" id="empty-last-comment-@Model.DestinationID-@uniqueid"></div>
    <div class="" id="@String.Format("section-form-{0}", Model.DestinationID.ToString() + '-' + @uniqueid)">
        @{
            var jaxOptions = new AjaxOptions()
            {
                HttpMethod = "POST",
                OnBegin = "return validateAddCommentForm('" + @Model.DestinationID + "', '" + uniqueid + "');",
                OnSuccess = "addCommentDestination",
                OnComplete = "addCommentComplete"
            };
        }
        @using (Ajax.BeginForm("Comment", new { controller = "Destination" }, jaxOptions, new { id = "add-comment-form-" + Model.DestinationID.ToString() + '-' + uniqueid }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("DestinationID", Model.DestinationID)
            @Html.Hidden("UniqueID", @uniqueid)
            <div class="input-group comment">
                @Html.TextBox("Content", "", new { id = "comment-input-" + @Model.DestinationID + "-" + @uniqueid, @class = "form-control", placeholder = "Comment here ..." })
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-comment"></i></button>
                </div>
            </div>
        }
    </div>
</div>
