@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/media")
<div class="container" style="margin-top:60px">
    <div class="innerAll">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                @*Timeline cover*@
                @*@{Html.RenderPartial("~/Views/Personal/CoverWidget.cshtml");}*@
                <div class="widget widget-gallery" data-toggle="collapse-widget">
                    <div class="widget-head"><h4 class="heading">Photo Gallery</h4></div>
                    <div class="widget-body">

                        <!-- Tabs -->
                        <div class="tabsbar">
                            <ul>
                                <li class="glyphicons camera  @(ViewBag.ActiveTab == "AllPhotos" ? "active" : "")"><a href="@Url.Action("Index", "Media", new { userID = ViewBag.TargetUserID})"><i></i> View all photos <strong>(@ViewBag.NumberOfPhotos)</strong></a></li>
                                <li class="glyphicons folder_open @(ViewBag.ActiveTab == "Albums" ? "active" : "")"><a href="@Url.Action("Albums", "Media", new { userID = ViewBag.TargetUserID})"><i></i> Albums</a></li>
                                @*<li class="glyphicons circle_plus tab-stacked @(ViewBag.ActiveTab == "AddPhotos" ? "active" : "")"><a href=""><i></i> <span>Add Photos</span></a></li>*@
                                @*<li class="glyphicons folder_plus tab-stacked @(ViewBag.ActiveTab == "CreateAlbum" ? "active" : "")"><a href=""><i></i> <span>Create Album</span></a></li>*@
                            </ul>
                        </div>
                        <!-- // Tabs END -->
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blueimp Gallery -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev no-ajaxify">‹</a>
        <a class="next no-ajaxify">›</a>
        <a class="close no-ajaxify">×</a>
        <a class="play-pause no-ajaxify"></a>
        <ol class="indicator"></ol>
    </div>
    <!-- // Blueimp Gallery END -->

</div>
@Scripts.Render("~/script/media")