@model Footprints.ViewModels.AlbumDetailsViewModel
<div class="widget widget-gallery" data-toggle="collapse-widget">
    <div class="widget-head">
        <div class="pull-left text-inverse">
            @Html.ActionLink(@Model.DestinationName, "Index", new { controller = "Destination", destinationID = @Model.DestinationID }, new { @class = "innerL" })
            @Html.ActionLink(@Model.JourneyName, "Index", new { controller = "Journey", journeyID = @Model.JourneyID }, new { @class = "innerL" })
        </div>
        <span class="pull-right text-inverse">@Model.NumberOfPhotos <i class="fa fa-fw fa-camera"></i></span>
    </div>
    <div class="widget-body">
        <!-- Gallery Layout -->
        <div class="gallery gallery-2">
            <ul class="row">
                @foreach (var photo in @Model.Photos)
                {
                    @*../assets/images/gallery-2/3.jpg*@
                    <li class="col-md-3"><a class="thumb no-ajaxify" data-gallery="gallery-2" href="@photo.URL"><img src="@photo.URL" alt="photo" class="img-responsive" /></a></li>
                }
            </ul>
        </div>
        <!-- // Gallery Layout END -->
    </div>
</div>