@model IList<Footprints.Models.Content>
@foreach (var content in Model)
{
    <li id="Content-@content.ContentID" class="col-lg-3 col-md-2" style="position:relative">
        <a class="thumb no-ajaxify" data-gallery="gallery-3" href="@content.URL">
            @if (@content.ThumbURL != null && @content.ThumbURL.Length > 0)
            {
                <img src="@content.ThumbURL" alt="photo" class="img-responsive" />
            }
            else
            {
                <img src="@content.URL" alt="photo" class="img-responsive" />
            }
        </a>
    </li>
}
